#divhead{
  width:900px; 
  margin-left: auto;
  margin-right: auto;
  //background-color: blue;
}
#divbody{
    width:900px; 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
table{
  margin-left: auto;
  margin-right: auto;
}
h1.head{
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
}
   
th.custom{
  border-width: 2px;
  padding: 6px;
  border-style: inset;
  border-color: gray;
  background-color: #6699ff;

}
p.footer{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 125%;
  text-align: center;
  
}
td.custom{
  border-width: 1px;
  padding: 1px;
  border-style: inset;
  border-color: gray;
  text-align: center;
}

