

div0{
	
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	position: static;
	top: 40%;
	left: 3%;
	padding: 5px;
}

div1{
	
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	position: static;
	top: 40%;
	left: 3%;
	padding: 5px;
}

