// Place all the styles related to the Pacientes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div0{
	position: fixed;
	top: 9%;
	left: 5%;
}
div1{
	position: relative;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	top: 5%;
	left: 25%;
	padding: 5px;
		
}

div2{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	position: relative;
	top: 40%;
	left: 3%;
	padding: 5px;
}

div3{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	position: relative;
	left: 3%;
	top: 50%;
	padding: 5px;
}

div4{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	position: relative;
	left: 3%;
	top: 57%;
	padding: 5px;
}






